* {
	box-sizing: border-box
}

/** define the sytle of body */
body {
	font-family: 'Indie Flower', cursive;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	line-height: 1.5;

}
p {
	color: #2F4F4F;
	line-height: 1.5;
}

.h1 {
	font-size: 30px;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	color: red;
}

h4 {
	font-size: 15px;
	font-weight: bold;	
}
.codefontcolor{
	color: red;
}
a:link {
	text-decoration: none;
	font-weight: bolder;
	color: blue;
}

a:hover {
	color: red;
	transform: scale(2);
}
/** define the text font for blog articles */
.font4Tech {
	font-family: Arial;
	padding: 20px;
	font-size: 14px;
	text-align: left;
	background-color: #FFE4B5;
}

/** define the style of the Blog's name */
.blogname {
	padding: 0px;
	font-size: 40px;
	font-color: #191970;
	text-align: center;
	background: transparent;
	background-image: url("../images/juice.jpg");
    height: 50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** define the style of sub-titles*/
.sectionname {
	padding: 0px;
	font-size: 20px;
	text-align: center;
	width: 100%;
	background-color:#C0C0C0;
}

/** define the horizontal line effet */
.hr{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;

} 
.textCenter{
	text-align: center;
	
}

.imgCenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
/* Create two columns that float next to eachother */
.leftcolumn {
    float: left;
    width: 12%;
    margin-top: 20px;
    padding: 20px;
}

.rightcolumn {
    float: left;
    width: 88%;
    margin-top: 6px;
    padding: 20px;
}
/** define the dot between the words in header */
.dot {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.smalldot{
	height: 8px;
    width: 8px;
    background-color: #800080;
    border-radius: 50%;
    display: inline-block;
}
/** define the background colour as Lavander colour*/
.bg {
    background: linear-gradient(35deg,#FFFAFA,#E6E6FA);
    background-size: cover;
}
/** define the background colour as silver colour*/

.bggrey{
	background-color: silver;
	background-size: cover;
}

.fontGreen{
    color: green;
}
/** take off the bullet point  */
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 2;
}


ol{
	line-height: 2;
}
/** define the font shadow effet */
.topRight {
	color: black;
	text-shadow: 10px -10px 6px #ff00ff;
	font-size: 40px;
}

/** define the font outline effet */

.outline {
	color: black;
	text-shadow: 0px 0px 6px gold;
	font-size: 60px;
}

.alignRight {
	float: right;
	text-align: right;
}
#footer {
	padding: 10px;
	text-align: centre;
	background: #2F4F4F;
	margin-top: 10px;
	color: white;
}

.glow {
	color: #FF00FF;
	text-shadow: 0px 0px 6px #FF00FF;
	font-size: 30px;
}
.fa {
	padding:10px;
	font-size: 20px;
  	width: 50px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px 2px;
}

.fa:hover{
	 opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;

}

/* Style buttons */
.btn {
    background-color: #FF4500; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 5px 5px; /* Some padding */
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

.dropdown{
	postition: relative;
	display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff8c00;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}



.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover{background-color: #ffdab9;}
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Responsive layout - when the screen is 
less than 600px wide, make the two columns 
stack on top of each other instead of next 
to each other */
@media screeen and (max-width: 800px){
	.leftcolumn, .rightcolumn{

	width: 100%;
	padding: 0;
}
}